
.temperature {
    font-size: 100px; 
    font-weight: bold;
    color: #ffffff;
}

.home-content  {
    background: linear-gradient(141deg, #2cb5e8 0%, #1fc8db 51%, #6CBFD4 75%);
    color: #F4F9FC;
    font-weight: 100;
}

.sky-description {
    font-weight: 300;
}