<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="home-content">
    <ion-grid *ngIf='weather?.weather'>
        <ion-row>
          <ion-col text-center>
            Guatemala, Guatemala
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
              {{now | date:'EEEE, MMMM d'}}
            </ion-col>
          </ion-row>

        <ion-row align-items-center>
            <ion-col padding-top>
              <div text-center class="temperature">
                  {{weather.main.temp }}&#176;
              </div>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col text-center>
                  <img width="200" src="https://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" alt="">
              </ion-col>
          </ion-row>

        <ion-row >
          <ion-col text-center class='sky-description'>
              {{weather.weather[0].description | titlecase }}
          </ion-col>
        </ion-row>


        <ion-row padding-top>
          <ion-col>
            <ion-row text-center>
              <ion-col>
                Humidity
              </ion-col>
              <ion-col>
                Wind
              </ion-col>
            </ion-row>
            <ion-row text-center>
                <ion-col>
                  {{weather.main.humidity }}%
                </ion-col>
                <ion-col>
                  {{weather.wind.speed * 3.6 | number: '1.2-2'}} km/h
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
  
      </ion-grid>
</ion-content>
